:root {
  --btn-bg: hsl(223, 87%, 63%);

  --body-bg: hsl(223, 100%, 88%);
  --error: hsl(354, 100%, 66%);

  --body-text: hsl(0, 0%, 59%);
  --bold-color: hsl(209, 33%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  padding: 8rem 4rem 4rem;
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-board {
  width: 100%;
  margin-top: 7rem;
}

.logo {
  margin-bottom: 4rem;
}

.ping-header {
  font-size: 2.4rem;
  color: var(--body-text);
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

.bold {
  font-weight: 700;
  color: var(--bold-color);
}

.ping-msg {
  color: var(--body-text);
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 4rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field,
.submit-btn {
  width: 100%;
  display: block;
}

.input-field {
  padding: 1rem 3.5rem;
  border-radius: 10rem;
  border: 1px solid var(--body-bg);
  outline: none;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--body-bg);
  font-size: 1.5rem;
}

.submit-btn {
  padding: 1.1rem;
  background-color: var(--btn-bg);
  color: white;
  border-radius: 10rem;
  border: none;
  font-weight: 600;
  font-size: 1.5rem;
  box-shadow: 0 5px 5px 0 hsl(223, 56%, 71%);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-container {
  display: flex;
  margin-top: 8rem;
  gap: 2rem;
}

.icon {
  color: var(--btn-bg);
  font-size: 1.6rem;
  padding: 0.8rem;
  border-radius: 50%;
  border: 1px solid var(--body-bg);
}

.copyright {
  font-size: 1.4rem;
  margin-top: 2rem;
  color: var(--body-text);
}

.error-msg {
  font-size: 1.4rem;
  color: var(--error);
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  body {
    padding: 8rem 35rem 4rem;
  }

  .form-container {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 1rem;
  }

  .input-container {
    flex: 2;
  }

  .submit-btn {
    flex: 1;
  }

  .error-msg {
    margin: 0;
  }
}
